# gitignore rules
# autotools results
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/autotools
/config.log
/config.status
/configure

# built scripts
/common.sh
tools/ganeti-image
tools/make-dump
tools/make-image
tools/make-qemu-img
tools/mount-disks
tools/umount-disks

# archives
ganeti-instance-image*.tar.gz

# vim
*.swp

# redhat
*.rpm

# debian
*.dsc
*.deb
*.changes
build-stamp
debian/files
debian/*.log
debian/ganeti-instance-image/
debian/ganeti-instance-image.substvars
debian/.debhelper/

# Vagrant/Chef
Berksfile.lock
.vagrant/
cookbooks/
